@font-face {
  font-family: 'pxplus_ibm_biosregular';
  src: url('pxplus_ibm_bios-webfont.eot');
  src: url('pxplus_ibm_bios-webfont.eot?#iefix') format('embedded-opentype'),
       url('pxplus_ibm_bios-webfont.woff2') format('woff2'),
       url('pxplus_ibm_bios-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #2e3033;
  color: #50ff00;
  font-family: 'IBMPC';
}
#pointerWidth {
	font-family: 'Trebuchet MS';
	font-size: 15px;
}
#headshot {
	display: none;
}
#-Len {
  display: none;
  white-space: pre;
}
#headerDelim {
  text-align: center;
}
#headerTitle {
  text-align: center;
  font-family: pxplus_ibm_biosregular;
}
