@font-face {
  font-family: 'IBMPC';
  src: url('fonts/px437_ibm_vga9-webfont.woff2') format('woff2'),
       url('fonts/px437_ibm_vga9-webfont.woff') format('woff'),
       url('fonts/px437_ibm_vga9-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'IBMPC', Arial, sans-serif;
}
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #282828;
  color: #33ff33;
}
.flex {
  display: flex;
}
#osTitle {
  justify-content: center;
}
.pointer {
  display: inline;
}
#osInfo > br {
  display: none;
}
#shell {
  height: 100%;
  overflow: scroll;
  padding: 0px 10px 0px 10px;
}
.input {
  display: inline;
  overflow-wrap: break-word;
}
#cursor {
  display: inline;
}
.forceKbInput {
  display: none;
}
.dirNameSpan {
  display: inline-block;
  width: 75%;
}
.dirTypeSpan {
  float: right;
}
.dirNumFiles {
  float: right;
}
@media (max-width: 700px) {
  #osTitle {
    font-size: .3em;
  }
  #osInfo > br {
    display: block;
  }
  .forceKbInput {
    display: block;
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
}
