html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background-image: url(../images/blackDesert.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 10%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Quicksand';
    letter-spacing: 2px;
}
.flex {
    display: flex;
}
.hidden {
    display: none;
}
.main-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}
.name-container {
    width: 100%;
    margin: 0;
}
.name {
    color: lightgray;
    margin: auto;
    font-size: 5em;
    text-align: center;
}
.name:hover {
    cursor: pointer;
}
.menu-container {
    flex-direction: row;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
}
.menu-item {
    font-size: 2.5em;
}
.menu-item:hover {
    cursor: pointer;
}
.maker {
    background: -webkit-linear-gradient(#D79900, #FA9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maker-container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 37.5%;
}
.maker-card {
    background-color: rgb(54, 54, 54);
    width: 30%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-image: -webkit-linear-gradient(#D79900, #FA9900);
    /*outline: 2px -webkit-linear-gradient(#D79900, #FA9900);*/
}
.maker-card > img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.maker-card > h1 {
    font-size: 1.5em;
    font-weight: bold;
    background: -webkit-linear-gradient(#D79900, #FA9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px 0px 5px 0px;
}
.entrepreneur {
    background: -webkit-linear-gradient(#009991, #0099FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.writer {
    background: -webkit-linear-gradient(#990091, #9900FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 700px) {
    .menu-container {
        flex-direction: column;
    }
    .menu-item {
        text-align: center;
    }
    .maker-container {
        height: 51.5%;
    }
    .maker-card {
        width: 100%;
    }
}