@font-face {
  font-family: 'IBMPC';
  src: url('fonts/px437_ibm_vga9-webfont.woff2') format('woff2'),
       url('fonts/px437_ibm_vga9-webfont.woff') format('woff'),
       url('fonts/px437_ibm_vga9-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'IBMPC', Arial, sans-serif;
}
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #282828;
  color: #33ff33;
}
/*
.pointerDiv {
  display: inline;
}*/
.pointer {
  display: inline;
}
.input {
  display: inline;
}
#cursor {
  display: inline;
}
