@font-face {
  font-family: 'IBMPC';
  src: url('fonts/px437_ibm_vga9-webfont.woff2') format('woff2'),
       url('fonts/px437_ibm_vga9-webfont.woff') format('woff'),
       url('fonts/px437_ibm_vga9-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #282828;
  color: #33ff33;
}
#pointerWidth {
	font-size: 15px;
}
#headshot {
	display: none;
}
#-Len {
  display: none;
  white-space: pre;
}
#headerDelim {
  text-align: center;
}
#headerTitle {
  text-align: center;
}
* {
  font-family: 'IBMPC', Arial, sans-serif;
}