<!DOCTYPE html>
<html>
	<head>
		<title>Colin's Portfolio Site</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	</head>
	<body>
		<div id='bootText'></div>
		<pre id='cbarnesOsStr'></pre>
		<div id='cursor'></div>
		<!--
		<div id='headerTitle'>
			<pre>


     /$$$$$$  /$$$$$$$                                                       
    /$$__  $$| $$__  $$                                                      
   | $$  \__/| $$  \ $$  /$$$$$$   /$$$$$$  /$$$$$$$       /$$$$$$   /$$$$$$$
   | $$      | $$$$$$$  |____  $$ /$$__  $$| $$__  $$     /$$__  $$ /$$_____/
   | $$      | $$__  $$  /$$$$$$$| $$  \__/| $$  \ $$    | $$$$$$$$|  $$$$$$ 
   | $$    $$| $$  \ $$ /$$__  $$| $$      | $$  | $$    | $$_____/ \____  $$
   |  $$$$$$/| $$$$$$$/|  $$$$$$$| $$      | $$  | $$ /$$|  $$$$$$$ /$$$$$$$/
    \______/ |_______/  \_______/|__/      |__/  |__/|__/ \_______/|_______/ 
														 															 															 
			</pre>
			cbarn.es*
		</div>
		<canvas id="canvas"></canvas>
		<div id='pointerWidth' visibility='hidden'></div>
		-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>