<!doctype html>
<html lang="en">
    <head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-portfolio.css') }}">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

	    <title>CBarn.es</title>
    </head>           
    <body>
        <!-- Main Container -->
        <div class="main-container flex">
            <div class="name-container flex">
                <h1 class="name" data-page='main'>Colin Barnes</h1>
            </div>
            <div class="menu-container flex">
                <div class='maker-div menu-div'>
                    <h3 class="menu-item maker">Maker</h3>
                </div>
                <div class='entrepreneur-div menu-div'>
                    <h3 class="menu-item entrepreneur"><a href='https://twitter.com/AfterbangLLC'>Entrepreneur</a></h3>
                </div>
                <div class='writer-div menu-div'>
                    <h3 class="menu-item writer">Writer</h3>
                </div>
            </div>
             <!-- Maker Page Container -->
            <div class='maker-container flex hidden'>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/greencodeBIG.jpg') }}">
                    <h1>Cbarn.es Classic</h1>
                    <div></div>
                </div>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/crypto-toolbox.png') }}">
                    <h1>Crypto Toolbox</h1>
                    <div></div>
                </div>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/yciw.png') }}">
                    <h1>Yield Curve Inversion Watch</h1>
                    <div></div>
                </div>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/potusapproval.png') }}">
                    <h1>POTUS Approval</h1>
                    <div></div>
                </div>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/evolution-sim.png') }}">
                    <h1>Evolution Simulation</h1>
                    <div></div>
                </div>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/cbarn-es.png') }}">
                    <h1>Cbarn.es</h1>
                    <div></div>
                </div>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/greencodeBIG.jpg') }}">
                    <h1>Cbarn.es Classic</h1>
                    <div></div>
                </div>
                <div class='maker-card'>
                    <img src="{{ url_for('static', filename='images/greencodeBIG.jpg') }}">
                    <h1>Cbarn.es Classic</h1>
                    <div></div>
                </div>
            </div> 
        </div>
        <!-- JS Imports -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="{{ url_for('static', filename='js/main-portfolio.js') }}"></script>
    </body>
</html>